# Aliases
# ls aliases
alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

# Custom aliases
alias python='python3'
alias storage='ncdu'
alias system='htop'
alias clock='tty-clock -c'
alias reload='source ~/.zshrc'
alias palette='for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$"\n"}; done'
alias v='vim'
alias hg='history | grep'
alias weather='curl wttr.in'
alias parrot='curl parrot.live'
alias view='fim -a'

# Scripts
alias tor='~/Downloads/tor-browser_en-US/Browser/start-tor-browser &'
alias update='sudo ~/Scripts/updateAndReboot.sh'
alias qr='~/Scripts/qrcode.sh'
alias dirsize='~/Scripts/dirSize.sh'
